@charset "utf-8";
/* CSS Document Reset */
div,ul,ol,li,dl,dt,dd,img,p,h1,h2,h3,h4,h5,h6,b,u,i,font,span,em,form,input,button{font-style:normal;font-size:12px;margin:0;padding:0;outline:none;border:none;list-style:none;background:none;text-align:left;text-decoration:none;font-weight:normal}
body{font-family:Arial,\5b8b\4f53;margin:0;padding:0;background:#fff;text-align:center;line-height:normal;}
a{padding:0;margin:0;text-decoration:none;outline:none;}
a:hover{text-decoration:underline;}
a:focus{outline:none;}
/*clear float*/
.clearfix{clear:both;font-size:0;height:0px;overflow:hidden;}
.w990{width:990px;margin:0 auto;overflow:hidden;*zoom:1}
/*header topbar style*/
#topbar{height:30px;background:#f6f6f6;border-bottom:#eee 1px solid;}
#topbar .s_nav{width:1230px;margin:0 auto;overflow:visible;*zoom:1}
#topbar .s_nav .s_nl{float:left}#topbar .s_nav .s_nr{float:right}
#topbar .s_nav ul li{height:30px;line-height:28px;line-height:32px\9;*line-height:30px;padding:0 2px 0 5px;float:left;overflow:hidden}
#topbar .s_nav ul .sprit{line-height:28px;color:#ddd;padding:0 5px}
#topbar .s_nav .s_nr .sprit{padding:0 5px}#topbar .s_nav ul li a{margin-left:5px;}
#topbar .s_nav ul .s_menu{position:relative;border:1px #f6f6f6 solid;border-top:0;border-bottom:0;overflow:visible;z-index:10}
#topbar .s_nav ul .s_menu a{margin:0 5px 0 5px;*display:inline-block;*vertical-align:middle;}
#topbar .s_nav ul .s_menu strong{color:#f40;font-family:Helvetica,arial,sans-serif;margin:0 5px 0 -4px;display:inline-block;vertical-align:top;*vertical-align:auto;}
#topbar .s_nav ul li a{color:#6c6c6c;text-decoration:none;margin-right:8px;}
#topbar .s_nav ul li a:hover{color:#f40}
#topbar .s_nav ul li a.login{color:#ef0101;margin-left:-5px;margin-right:0}
#topbar .s_nav ul .favorite a{background:url(../images/topbar_bg.gif) 0 2px no-repeat;padding-left:16px;background-position:0 0px\9;*background-position:0 8px}
#topbar .s_nav ul .favorite a:hover{background-position:0 -21px;background-position:0 -23px\9;*background-position:0 -15px}
#topbar .s_nav ul .s_menu i{display:inline-block;position:relative;vertical-align:middle;margin-right:8px;margin-top:-1px\9;_margin-top:0;width:6px;height:6px;-webkit-transition:.3s ease-in;-moz-transition:.3s ease-in;-o-transition:.3s ease-in;transition:.3s ease-in;}
#topbar .s_nav ul .s_menu i u,#topbar .s_nav ul .s_menu i em{position:absolute;top:0;left:0;width:0;height:0;border-width:3px 3px 0;border-style:solid;border-color:rgba(255,255,255,0);border-color:transparent\9;_border-color:tomato;_filter:chroma(color=tomato);overflow:hidden;*zoom:1}
#topbar .s_nav ul .s_menu i u{top:1px;border-top-color:#6c6c6c}
#topbar .s_nav ul .s_menu i em{border-top-color:#f6f6f6}
#topbar .s_nav ul .s_hover{height:31px;background:#fff;border-color:#eee;cursor:pointer;_margin-bottom:-1px}
#topbar .s_nav ul .s_hover i{margin-top:-3px;margin-top:0px\9;_margin-top:-3px;-webkit-transform:rotate(180deg);-moz-transform:rotate(180deg);-ms-transform:rotate(180deg);-o-transform:rotate(180deg);transform:rotate(180deg);-ms-transform:rotate(0)}
#topbar .s_nav ul .s_hover i u,#topbar .s_nav ul .s_hover i em{top:2px\9;border-width:0 3px 3px\9;_border-width:0 4px 4px;}
#topbar .s_nav ul .s_hover i u{top:1px\9;border-bottom-color:#6c6c6c\9}
#topbar .s_nav ul .s_hover i em{border-top-color:#fff;border-bottom-color:#fff\9}
#topbar .s_nav ul .s_menu .s_down{display:none;padding:5px 2px 5px 5px;cursor:default}
#topbar .s_nav ul .s_hover .s_down{display:block;position:absolute;top:31px;left:-1px;background:#fff;border:#eee 1px solid;border-top:0;}
#topbar .s_nav ul .s_hover .s_down li{display:block;height:auto;line-height:normal;padding:0;margin:0;float:none;overflow:visible}
#topbar .s_nav ul .s_hover .s_down a{display:block;background:#fff;height:28px;line-height:28px;padding:0 8px 0 10px;margin:0;white-space:nowrap;margin:0 -2px 0 -5px}
#topbar .s_nav ul .s_hover .s_down a:hover{background:#f6f6f6}
#topbar .s_nav ul .s_hover .user li{height:80px;padding:10px 10px 5px 6px;white-space:nowrap;_margin-bottom:-3px;}
#topbar .s_nav ul .s_hover .user li a{width:80px;margin:0;padding:0;display:inline-block;vertical-align:top;line-height:normal;}
#topbar .s_nav ul .s_hover .user li a:hover{background:none;text-decoration:underline}
#topbar .s_nav ul .s_hover .user li span{line-height:18px;display:inline-block;vertical-align:top;margin:0 8px;}
#topbar .s_nav ul .s_hover .user li span b{height:auto;line-height:normal;font:14px microsoft yahei,simhei;color:#6c6c6c;display:block;padding:0;white-space:nowrap;float:none}
#topbar .s_nav ul .s_hover .user li span u{position:static;color:#6c6c6c;display:block;white-space:nowrap;padding-top:5px;text-overflow:ellipsis;_margin-top:3px;}
#topbar .s_nav ul .s_hover .user li span u a{width:auto;height:auto;line-height:normal;color:#9c9c9c;margin-top:2px;_margin-top:0;}
#topbar .s_nav ul .s_hover .user li span u a:hover{color:#f40}
#topbar .s_nav ul .s_hover .user li span .opt a{color:#6c6c6c;margin-right:12px}
#topbar .s_nav ul .s_hover .msg li{height:28px;line-height:22px;line-height:26px\9;padding:0 8px;white-space:nowrap;color:#6c6c6c;margin-left:-5px}
#topbar .s_nav ul .s_hover .msg li a{display:block;margin:0 -20px 0 -8px;position:relative;padding-right:9px}
#topbar .s_nav ul .s_hover .msg li .bold{font-weight:bold}
#topbar .s_nav ul .s_hover .msg .m{line-height:normal;border-top:#eee 1px solid;margin:8px 8px 0 5px;*margin-top:7px;padding:0 8px 0 0;}
#topbar .s_nav ul .s_hover .msg .mt{text-indent:2px;margin-bottom:-8px}
#topbar .s_nav ul .s_hover .msg .m a{height:12px;line-height:normal;display:inline-block;padding-left:16px;margin:7px 0 0;margin-top:9px\9;background:url(../images/topbar_bg.gif) 0 -42px no-repeat;background-position:0 -44px\9}
#topbar .s_nav ul .s_hover .msg .m a:hover{background:url(../images/topbar_bg.gif) 0 -58px no-repeat;background-position:0 -60px\9}
#topbar .s_nav ul .s_hover .mydesk{padding-top:10px;}
#topbar .s_nav ul .s_hover .mydesk li{padding:10px 12px 3px 9px;white-space:nowrap;*margin-bottom:-3px;*zoom:1}
#topbar .s_nav ul .s_hover .mydesk li a{height:auto;margin:0;padding:0;display:inline-block;vertical-align:top;line-height:normal;}
#topbar .s_nav ul .s_hover .mydesk li a:hover{background:none;text-decoration:underline}
#topbar .s_nav ul .s_hover .mydesk li span{width:120px;line-height:18px;display:inline-block;vertical-align:top;margin:0 8px 0 5px;white-space:normal;}
#topbar .s_nav ul .s_hover .mydesk li span a{width:auto;height:auto;line-height:normal;white-space:normal;}
#topbar .s_nav ul .s_hover .mydesk li span font{display:block;color:#9c9c9c;font-family:Helvetica,arial,sans-serif;color:#f40;margin-top:2px}
#topbar .s_nav ul .s_hover .mydesk .nl{padding:8px 8px 10px 8px;*padding-bottom:13px;white-space:nowrap;color:#3c3c3c;}
#topbar .s_nav ul .s_hover .mydesk .yl{padding:0;margin:10px 12px 8px 9px;text-align:right;border-top:#eee 1px solid;}
#topbar .s_nav ul .s_hover .mydesk .yl a{height:20px;line-height:20px;display:inline-block;background:#f40;color:#fff;font-weight:normal;padding:0 4px;border-radius:2px;margin-top:12px}
#topbar .s_nav ul .s_hover .mydesk .yl a:hover{background:#f60;text-decoration:none}
#topbar .s_nav ul .s_hover .mydesk .nl a{height:20px;line-height:20px;display:inline-block;vertical-align:middle;background:#f40;color:#fff;font-weight:normal;padding:0 4px;border-radius:2px;margin-left:8px;}
#topbar .s_nav ul .s_hover .mydesk .nl a:hover{background:#f60;text-decoration:none}
/*header style*/
#header{background:#fff;height:80px;overflow:hidden}
#header ul{height:100px;background:#fff;display:block;}
#header ul .logo{padding-left:10px;padding-top:15px;float:left}
/*search style*/
#header #search{float:right;margin-top:23px;}
#header #search form{width:650px;height:28px;border:#f40 1px solid;background:url(../images/topbar_bg.gif) repeat-x 0 -192px;display:block;position:relative;}
#header #search form label{position:absolute;top:6px;top:7px\9;*top:8px;left:26px;color:#9c9c9c;cursor:text}
#header #search form .search_txt{width:540px;float:left;height:16px;line-height:16px;padding:6px 0 0 26px;color:#999;background:url(../images/topbar_bg.gif) no-repeat 7px -224px;position:relative}
#header #search form .search_btn{width:76px;height:30px;background:#f40 url(../images/topbar_bg.gif) center -128px no-repeat;cursor:pointer;position:absolute;top:-1px;right:-1px}
#header #search form .search_btn:hover{background:#f60 url(../images/topbar_bg.gif) center -155px no-repeat;}
/*nav style*/
#nav{height:30px;background:#ff4400;*overflow:hidden;}
#nav ul{display:block;overflow:visible;}
#nav ul:after{content:"";display:block;clear:both}
#nav ul .cat_list{float:left;height:30px;line-height:30px;line-height:32px\9;font-size:14px;display:block}
#nav ul .category{width:200px;overflow:hidden;text-indent:15px;color:#fff;font-weight:bold;background:#ff6600;position:relative}
#nav ul .category b{width:12px;height:10px;background:url(../images/index/hf_sprite.gif) no-repeat 0px -96px;position:absolute;top:9px;left:173px;cursor:pointer;overflow:hidden}
#nav ul .category .b{width:10px;font-size:0;left:175px;background:#fff;overflow:hidden}
#nav ul li .list_a{height:30px;color:#fff;font-weight:bold;display:block;padding:0 20px;_float:left}
#nav ul li .list_a:hover{background:#D10106;text-decoration:none}#nav ul li .current{background:#c30;}#nav ul li .current:hover{background:#c30;}
#nav ul .sr{float:right;}
/*footer style*/
#footer{margin-top:20px;background:#f8f8f8;border-top:1px solid #ddd;}
#footer .foot-line{height:0;font-size:0;overflow:hidden;border-top:1px solid #fff;}
#footer .foot-help{padding-top:25px;border-bottom:#ddd 1px solid;}
#footer .foot-help ul{width:140px;height:100px;*overflow:hidden;padding-bottom:20px;border-left:#ddd 1px solid;float:right;display:block;margin-right:10px;}
#footer .foot-help ul h4{height:25px;line-height:25px;line-height:25px\9;font-family:"microsoft yahei";font-size:16px;color:#3c3c3c;margin-bottom:5px;position:relative;*overflow:hidden}
#footer .foot-help ul .newuser{background:#f8f8f8 url(../images/img/footers_icon.gif) no-repeat 0 0;text-indent:34px;margin-left:-13px;margin-right:10px}
#footer .foot-help ul .baoz{background:#f8f8f8 url(../images/img/footers_icon.gif) no-repeat 0 -33px;text-indent:34px;margin-left:-13px;margin-right:10px}
#footer .foot-help ul .payment{background:#f8f8f8 url(../images/img/footers_icon.gif) no-repeat 0 -66px;text-indent:34px;margin-left:-13px;margin-right:10px}
#footer .foot-help ul .business{background:#f8f8f8 url(../images/img/footers_icon.gif) no-repeat 0 -99px;text-indent:34px;margin-left:-13px;}
#footer .foot-help ul li{height:18px;line-height:20px;text-indent:20px}
#footer .foot-help ul li a{color:#6c6c6c}
#footer .foot-help .service{width:250px;padding-left:65px;float:left;border:none}
#footer .foot-help .service h5{height:18px;line-height:18px;line-height:20px\9;font-size:12px;font-family:Arial;font-weight:normal;margin:0;color:#9c9c9c;text-indent:22px;overflow:hidden;}
#footer .foot-help .service .kf{background:url(../images/footer_bg.gif) no-repeat 0 0;}
#footer .foot-help .service .emial{background:url(../images/footer_bg.gif) no-repeat 0 -19px;*margin-top:12px}
#footer .foot-help .service li{font-size:24px;font-family:"microsoft yahei";color:#3c3c3c;padding:4px 0 12px 0;height:auto;*margin-bottom:-10px}
#footer .foot-help .service .efont{font-size:16px;color:#3c3c3c}
/*底部信息*/
#footer .foot-end{border-top:#fff 1px solid;overflow:hidden}
#footer .foot-end ul{float:left;display:block}
#footer .foot-end ul p{padding-top:8px;overflow:hidden;color:#9c9c9c}
#footer .foot-end ul p span{padding:0 8px;color:#ddd}
#footer .foot-end ul p a{color:#6c6c6c}
#footer .foot-end ul .img{padding:15px 0 7px 0}
#footer .foot-end ul p img{margin-right:15px}
/*二维码*/
#footer .foot-end ul li{float:left;display:block}
#footer .foot-end ul h4{height:22px;line-height:22px;background:url(../images/footer_bg.gif) no-repeat;font-family:"microsoft yahei";font-size:18px;color:#000;}
#footer .foot-end .weixin{float:right;padding:8px 0 15px 0;_width:146px}
#footer .foot-end .weixin h4{text-indent:28px;margin-bottom:8px;background-position:0px -117px;}
#footer .foot-end .taoms{float:right;margin-left:35px;*margin-left:30px;padding:8px 0 15px 0;_width:117px}
#footer .foot-end .taoms h4{text-indent:20px;margin-bottom:8px;background-position:0px -139px;}
#footer .foot-end ul .er{border:2px solid #e6e6e6;background:#fff;padding:5px;*padding-bottom:1px;}
#footer .foot-end ul li span{display:block;width:60px;height:26px;line-height:13px;line-height:14px\9;background:#e6e6e6;color:#666;padding:4px 3px}
#footer .foot-end ul li .zhe{margin:0px 0px 0px 4px;background:none;color:#c7186d;font-family:"microsoft yahei";font-weight:bold;line-height:14px}
#footer .foot-end ul li .zhe em{font-size:15px;display:block}
#footer .foot-end ul li .span{width:40px;padding:4px 0 0 5px;line-height:18px;background:none;color:#c7186d;font-size:14px;font-family:"microsoft yahei";font-weight:bold;}
#footer .foot-end ul li .tao_s{width:40px;height:18px;line-height:18px;padding:0;text-align:center;margin-top:20px;_margin-top:10px;background:#c7186d;color:#fff;font-size:12px;}
/*other footer style*/
#s_foot{width:990px;margin:15px auto 0 auto;border-top:#dfdfdf 1px solid;line-height:35px;color:#666;text-align:center;padding-bottom:10px}
#s_foot a{color:#2255dd;margin-left:8px;}